<!-- <div class="p-2">
  <apx-chart width="200" height="100" [series]="vehicleChartOptions.series" [chart]="vehicleChartOptions.chart"
  [dataLabels]="vehicleChartOptions.dataLabels" [plotOptions]="vehicleChartOptions.plotOptions"
  [yaxis]="vehicleChartOptions.yaxis" [legend]="vehicleChartOptions.legend" [fill]="vehicleChartOptions.fill"
  [stroke]="vehicleChartOptions.stroke" [tooltip]="vehicleChartOptions.tooltip" [xaxis]="vehicleChartOptions.xaxis">
  </apx-chart>
</div> -->

<apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [yaxis]="chartOptions.yaxis"
    [xaxis]="chartOptions.xaxis"
    [fill]="chartOptions.fill"
    [title]="chartOptions.title"
  ></apx-chart>
