<form [formGroup]="serachForm">

    <div class="row">
        <div class="col-md-5">
            <div class="input-form-box">
                <input type="text" placeholder="Search... 78" class="input-form-control" (keyup)="applyFilter()" formControlName="searchValue">
                <span class="input-form-icon">
          <i class="fas fa-search"></i>
        </span>
            </div>
        </div>
        <div class="col-md-5">
            <div class="input-form-box">
                <select formControlName="InsuranceId" class="input-form-control" (change)="daysFilter.emit(f.InsuranceId.value)">
          <option value="0">None</option>
          <option value="10">10-Days</option>
          <option value="20">20-Days</option>
          <option value="30">30-Days</option>
        </select>
            </div>
        </div>

        <!-- <div class="col-md-4">
      <mat-form-field class="mt-3">
        <input type="text" placeholder="Select Insurance" formControlName="InsuranceId" matInput formControlName="InsuranceId"
        [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="onDisplayInsuranceComp" (optionSelected)="companyFilter.emit($event.option.value)">
        <mat-option *ngFor="let option of filterinsuranceCompanyList | async" [value]="option.Code">
          {{option.CodeDescription}}
        </mat-option>
      </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mt-3">
        <mat-select formControlName="noOfDayes" placeholder="No of Days">
          <mat-option value="7 Days">7 Days</mat-option>
          <mat-option value="14 Days">14 Days</mat-option>
          <mat-option value="21 Days">21 Days</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
    </div>
</form>

<table style="width: 100% !important;" matTableResponsive mat-table [dataSource]="dataSource" matSort [matSortActive]="sortProperty" [matSortDirection]="sortDirection" matSortDisableClear>
    <ng-container *ngFor="let col of columnHeader; let i = index;" [matColumnDef]="col.key">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header">{{ columnHeader[i]["display"] }}</th>
        <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="!col.config; else hasConfig">
                {{ element[col.key] }}
            </ng-container>
            <ng-template #hasConfig>
                <ng-container *ngIf="col.config.isCodeChar">
                    {{ element.PlateCharacter}}-{{ element.PlateNumber}}
                </ng-container>
                <ng-container *ngIf="col.config.isEdit">
                    <a class="action-btn list-group-item-primary mx-1" (click)="onProcced.emit(element)">Proceed</a>
                    <a class="action-btn list-group-item-primary mx-1" (click)="onTrack.emit(element)">Track</a>

                </ng-container>
                <ng-container *ngIf="col.config.isTplEdit">
                    <a class="action-btn list-group-item-primary mx-1" (click)="onTplEdit.emit(element)">Edit</a>
                </ng-container>
                <ng-container *ngIf="col.config.isVehicleInfo">
                    <a class="action-btn list-group-item-warning mx-1" (click)="onViewVehicleInfo.emit(element)">Vehicle
              Info</a>
                </ng-container>

            </ng-template>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="keys"></tr>
    <tr mat-row *matRowDef="let row; columns: keys"></tr>
</table>
<ng-container *ngIf="!dataSource.data.length">
    <table width="100%">
        <tr>
            <td class="p-3" style="text-align: center" [attr.colspan]="columnHeader?.length">
                No Records Found!
            </td>
        </tr>
    </table>
</ng-container>
<mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>