<div class="page-content">
  <div class="vision-card">
    <div class="vision-card-body">
      <div class="vision-grid vision-grid-column-3 status-tracking-grid">
        <div class="vision-grid-item">
          <div class="vision-grid-item-title">
            Claim Information
          </div>
          <div class="vision-grid-item-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div>Claim Type</div>
                <div>{{trackingDetails?.ClaimTypeDesc}}</div>
              </li>

              <li class="list-group-item">
                <div>Claim Number</div>
                <div>{{trackingDetails?.ClaimNumber}}</div>
              </li>
              <li class="list-group-item">
                <div>Vehicle Chassis</div>
                <div>{{trackingDetails?.VehicleChassisNumber}}</div>
              </li>
              <li class="list-group-item">
                <div>Plate Number</div>
                <div>{{trackingDetails?.PlateCharacter}}-{{trackingDetails?.PlateNumber}}</div>
              </li>
              <li class="list-group-item">
                <div>CivilId</div>
                <div>{{trackingDetails?.CivilId}}</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="vision-grid-item">
          <div class="vision-grid-item-title">
            <div class="company-a">
              <div class="user-company-logo">
                <img src="../../../assets/images/gulf-insu.png" alt="Avatar Logo" style="width:100px;">
              </div>
              <!-- <div class="user-name">{{trackingConversation?.}}</div> -->
              <div class="user-company">{{trackingConversation?.CommonDetails?.InsuranceCompanyName}}</div>
            </div>
            <div class="company-b">
              <div class="user-company-logo">
                <img src="../../../assets/images/qic-insu.png" alt="Avatar Logo" style="width:100px;">
              </div>
              <!-- <div class="user-name">Qatar-1</div> -->
              <div class="user-company">{{trackingConversation?.CommonDetails?.RecoveryCompanyName}}</div>
            </div>
          </div>
          <div class="vision-grid-item-body">
            <div class="row">
                 <div class="col-6 col-md-12">
                  <ng-container *ngFor="let item of trackingConversation?.OwnCompanyTrack">
                    <div class="d-flex justify-content-start hvr-bubble-left active">
                      <div class="p-2 chat-box">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            Claim Current Status:{{item?.StatusDesc}}
                          </li>
                          <li class="list-group-item">
                            Remarks: {{item?.Remarks}}
                          </li>
                          <li class="list-group-item">
                            Date: {{item?.EntryDate}}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </ng-container>
                 </div>
                 <div class="col-6 col-md-12">
                  <ng-container *ngFor="let item of trackingConversation?.RecoveryCompanyTrack">
                    <div class="d-flex justify-content-start hvr-bubble-left active mt-4">
                      <div class="p-2 chat-box">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            Claim Current Status:{{item?.StatusDesc}}
                          </li>
                          <li class="list-group-item">
                            Remarks: {{item?.Remarks}}
                          </li>
                          <li class="list-group-item">
                            Date: {{item?.EntryDate}}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </ng-container>
                 </div>
            </div>


            <!-- <div class="d-flex justify-content-end hvr-bubble-right active">
              <div class="p-2 chat-box">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Claim Current Status:Rejected
                  </li>
                  <li class="list-group-item">
                    Remarks:Invalid Documents
                  </li>
                  <li class="list-group-item">
                    Date: 13/5/2022
                  </li>
                </ul>
              </div>
            </div>
            <div class="d-flex justify-content-start hvr-bubble-left active">
              <div class="p-2 chat-box">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Claim Current Status:Clarification requested
                  </li>
                  <li class="list-group-item">
                    Remarks: Why?
                  </li>
                  <li class="list-group-item">
                    Date: 14/5/2022
                  </li>
                </ul>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
