.vision-grid-column-2{
  grid-template-columns: 1fr 1fr;
}
.policy-graph-card .vision-grid-item:nth-child(5){
  grid-column: span 2;
}
@media (max-width: 800px) {
  .vision-grid-column-2{
    grid-template-columns: 1fr;
  }
  .policy-graph-card .vision-grid-item:nth-child(5){
    grid-column: initial;
  }
}
.vision-card {
  /* border: 1px solid #ccc; */
  padding: 1rem 0.5rem;
}

