<div class="vision-card">
    <div class="vision-card-header">
        TPL Recovery
    </div>
    <div class="vision-card-body">
        <div class="vision-grid home-card vision-grid-column-4">
            <div class="vision-grid-item" (click)="onNavigation(1)">
                <div class="vision-grid-item-body">
                    <div>New</div>
                    <div><i class="fas fa-chevron-circle-right"></i></div>
                </div>
            </div>
            <div class="vision-grid-item" (click)="onNavigation('Receivable')">
                <div class="vision-grid-item-body">
                    <div>Receivable</div>
                    <div><i class="fas fa-chevron-circle-right"></i></div>
                </div>
            </div>
            <div class="vision-grid-item" (click)="onNavigation('Payable')">
                <div class="vision-grid-item-body">
                    <div>Payable</div>
                    <div><i class="fas fa-chevron-circle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vision-card">
    <div class="vision-card-header">
        Total Loss
    </div>
    <div class="vision-card-body">
        <div class="vision-grid home-card vision-grid-column-4">
            <div class="vision-grid-item" (click)="onNavigation(4)">
                <div class="vision-grid-item-body">
                    <div>New</div>
                    <div><i class="fas fa-chevron-circle-right"></i></div>
                </div>
            </div>
            <div class="vision-grid-item" (click)="onNavigation(12)">
                <div class="vision-grid-item-body">
                    <div>Existing</div>
                    <div><i class="fas fa-chevron-circle-right"></i></div>
                </div>
            </div>
            <div class="vision-grid-item" (click)="onNavigation(11)">
                <div class="vision-grid-item-body">
                    <div>Search</div>
                    <div><i class="fas fa-chevron-circle-right"></i></div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="vision-card">
    <div class="vision-card-header">
        Account Statement
    </div>
    <div class="vision-card-body">
        <div class="vision-grid home-card vision-grid-column-4">
            <div class="vision-grid-item" (click)="onNavigation(6)">
                <div class="vision-grid-item-body">
                    <div>Receivable</div>
                    <div><i class="fas fa-chevron-circle-right"></i></div>
                </div>
            </div>
            <div class="vision-grid-item" (click)="onNavigation(7)">
                <div class="vision-grid-item-body">
                    <div>Payable</div>
                    <div><i class="fas fa-chevron-circle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>