<div class="page-content">
    <div class="vision-card">
        <div class="vision-card-body mb-4 customborder">
            <div class="view-claim-information">
                <div class="view-claim-information-item document-info">
                    <div class="recovery-claim-information-item-title">
                        <span>Accident Information</span>
                    </div>
                    <div class="recovery-claim-information-item-body">
                        <div class="row mb-2">
                            <div class="col-4" style="margin-left: 20px;">
                                <span class="mb-1"><b>Accident Date</b></span>
                                <div>{{accidentInformation?.AccidentDate}}</div>
                            </div>
                            <div class="col-4">
                                <span class="mb-1"><b>Accident Location</b></span>
                                <div>{{accidentInformation?.AccidentLocation}}</div>
                            </div>
                            <div class="col-3">
                                <span class="mb-1"><b>Accident Description</b></span>
                                <div>{{accidentInformation?.AccidentDescription}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4" style="margin-left: 20px;">
                                <span class="mb-1"><b>Claim Type</b></span>
                                <div>{{accidentInformation?.ClaimTypeDesc}}</div>
                            </div>
                            <div class="col-4">
                                <span class="mb-1"><b>Police Reference No</b></span>
                                <div>{{accidentInformation?.PoliceReferenceNo}}</div>
                            </div>
                            <div class="col-3">
                                <span class="mb-1"><b>Intimated Date</b></span>
                                <div>{{accidentInformation?.ClaimIntimatedDate}}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="vision-card-body">
            <div class="middle-line"></div>
            <div class="recovery-claim-information">
                <div class="recovery-claim-information-item">
                    <div class="fault-tag fault-tag-green">
                        Not At Fault
                    </div>
                    <div class="recovery-claim-information-item-title">
                        <span>{{policyInformation?.InsuranceCompanyName}}</span>
                        <div class="flag-green">

                        </div>
                    </div>
                    <div class="recovery-claim-information-item-body">
                        <ul class="list-group list-group-flush ">
                            <li class="list-group-item">
                                <div>Civil Id</div>
                                <div>{{policyInformation?.CivilId}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Chassis No</div>
                                <div>{{vehicleInformation?.VehicleChassisNumber}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Make</div>
                                <div>{{vehicleInformation?.VehicleMakeDesc}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Model</div>
                                <div>{{vehicleInformation?.VehicleModelDesc}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Plate Number</div>
                                <div>{{vehicleInformation?.PlateCharacter}}-{{vehicleInformation?.PlateNumber}}</div>
                            </li>
                            <!--  -->
                        </ul>
                    </div>
                </div>
                <div class="recovery-claim-information-item">
                    <div class="fault-tag fault-tag-red">
                        At Fault
                    </div>
                    <div class="recovery-claim-information-item-title">
                        <span>{{recoveryInformation?.InsuranceCompanyName}}</span>
                        <div class="flag-red">

                        </div>
                    </div>
                    <div class="recovery-claim-information-item-body">
                        <ul class="list-group list-group-flush ">
                            <li class="list-group-item">
                                <div>Civil Id</div>
                                <div>{{recoveryInformation?.CivilId}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Chassis No</div>
                                <div>{{recoveryInformation?.VehicleChassisNumber}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Make</div>
                                <div>{{recoveryInformation?.VehMakeDesc}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Model</div>
                                <div>{{recoveryInformation?.VehModelDesc}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Plate Number</div>
                                <div>{{recoveryInformation?.PlateCharacter}}-{{recoveryInformation?.PlateNumber}}</div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- <div class="recovery-claim-information-item">
                    <div class="recovery-claim-information-item-title">
                        <span>Cost Information - At Fault</span>
                    </div>
                    <div class="recovery-claim-information-item-body">
                        <div class="recovery-claim-information-item-body">
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item">
                                    <div>Vehicle Value</div>
                                    <div><input type="text" class="form-control form-control-sm" value="{{accidentInformation?.VehicleValue}}"></div>
                                </li>
                                <li class="list-group-item">
                                    <div>Repair Cost</div>
                                    <div>
                                        <input type="text" class="form-control form-control-sm" value="{{accidentInformation?.RepairCost}}">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div>No Of Days / Per Day Cost</div>
                                    <div class="d-flex">
                                        <input type="text" style="width: 70px;" class="form-control form-control-sm" value="{{accidentInformation?.NoOfDays}}">
                                        <input type="text" style="width: 100px;" class="form-control form-control-sm" value="{{accidentInformation?.PerDayCost}}">
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div>Total Value</div>
                                    <div>
                                        <input type="text" class="form-control form-control-sm" value="{{accidentInformation?.TotalValue}}">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                <div class="recovery-claim-information-item">
                    <div class="recovery-claim-information-item-title">
                        Vehicle Information
                    </div>
                    <div class="recovery-claim-information-item-body">
                        <ul class="list-group list-group-flush ">
                            <!-- <li class="list-group-item">
                                <div>Make</div>
                                <div>{{vehicleInformation?.VehicleMakeDesc}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Model</div>
                                <div>{{vehicleInformation?.VehicleModelDesc}}</div>
                            </li> -->

                            <li class="list-group-item">
                                <div>Body Type</div>
                                <div>{{vehicleInformation?.VehicleBodyDes}}</div>
                            </li>
                            <!-- <li class="list-group-item">
                                <div>Color</div>
                                <div>{{vehicleInformation?.ColorDesc}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Plate Number</div>
                                <div>{{vehicleInformation?.PlateCharacter}}-{{vehicleInformation?.PlateNumber}}</div>
                            </li> -->
                            <li class="list-group-item">
                                <div>Registration Type</div>
                                <div>{{vehicleInformation?.RegistrationTypeDesc}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Year.Of.Manufacturing</div>
                                <div>{{vehicleInformation?.ManufactureYear}}</div>
                            </li>
                            <!-- <li class="list-group-item">
                                <div>Chassis No</div>
                                <div>{{vehicleInformation?.VehicleChassisNumber}}</div>
                            </li> -->
                        </ul>
                        <div id="demo" class="collapse">
                            <ul class="list-group list-group-flush ">
                                <!-- <li class="list-group-item">
                                    <div>Accident Date</div>
                                    <div>{{accidentInformation?.AccidentDate}}</div>
                                </li>
                                <li class="list-group-item">
                                    <div>Accident Location</div>
                                    <div>{{accidentInformation?.AccidentLocation}}</div>
                                </li>
                                <li class="list-group-item">
                                    <div>Accident Description</div>
                                    <div>{{accidentInformation?.AccidentDescription}}</div>
                                </li> -->
                                <!-- <li class="list-group-item">
                                    <div>Claim Type</div>
                                    <div>{{accidentInformation?.ClaimTypeDesc}}</div>
                                </li> -->
                                <!-- <li class="list-group-item">
                                    <div>Intimated Date</div>
                                    <div>{{accidentInformation?.ClaimIntimatedDate}}</div>
                                </li>
                                <li class="list-group-item">
                                    <div>Reserve Amount</div>
                                    <div>{{commonInformation?.ReserveAmount}}</div>
                                </li> -->
                                <!-- <li class="list-group-item">
                                    <div>License Number</div>
                                    <div>{{driverInformation?.LicenceNumber}}</div>
                                </li>
                                <li class="list-group-item">
                                    <div>Date Of Birth</div>
                                    <div>{{driverInformation?.DriverDateOfBirth}}</div>
                                </li>
                                <li class="list-group-item">
                                    <div>Licence Valid Upto</div>
                                    <div>{{driverInformation?.LicenceValidUpto}}</div>
                                </li>
                                <li class="list-group-item">
                                    <div>Gender</div>
                                    <div>{{driverInformation?.GenderDesc}}</div>
                                </li> -->


                            </ul>
                        </div>
                        <!-- <div class="view-more-btn text-end">
                            <a data-bs-toggle="collapse" data-bs-target="#demo">View More</a>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="recovery-claim-information-item">
                    <div class="recovery-claim-information-item-title">
                        Vehicle Information
                    </div>
                    <div class="recovery-claim-information-item-body" style="position:relative;">
                        <ng-container *ngIf="isNewPolicy">
                            <div class="center" style="margin-top: 100px;">
                                <button class="vision-btn maroon-bg-color" (click)="onEnrichData()">Enrich Data</button>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!isNewPolicy">
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item">
                                    <div>Make</div>
                                    <div>{{recoveryPolicyInfo?.VehicleMakeDesc}}</div>
                                </li>
                                <li class="list-group-item">
                                    <div>Model</div>
                                    <div>{{recoveryPolicyInfo?.VehicleModelDesc}}</div>
                                </li>
                                <li class="list-group-item">
                                    <div>Body Type</div>
                                    <div>{{recoveryPolicyInfo?.VehicleBodyDes}}</div>
                                </li>
                                <li class="list-group-item">
                                    <div>Color</div>
                                    <div>{{recoveryPolicyInfo?.ColorDesc}}</div>
                                </li>
                                <li class="list-group-item">
                                    <div>Plate Number</div>
                                    <div>{{recoveryPolicyInfo?.PlateCharacter}}-{{recoveryPolicyInfo?.PlateNumber}}</div>
                                </li>
                                <li class="list-group-item">
                                    <div>Registration Type</div>
                                    <div>{{recoveryPolicyInfo?.RegistrationTypeDesc}}</div>
                                </li>
                                <li class="list-group-item">
                                    <div>Year.Of.Manufacturing</div>
                                    <div>{{recoveryPolicyInfo?.ManufactureYear}}</div>
                                </li>
                                <li class="list-group-item">
                                    <div>Chassis No</div>
                                    <div>{{recoveryPolicyInfo?.VehicleChassisNumber}}</div>
                                </li>
                            </ul>
                        </ng-container>
                    </div>
                </div> -->
                <div class="recovery-claim-information-item">
                    <div class="recovery-claim-information-item-title">
                        <span>Cost Information - Not At Fault</span>
                    </div>
                    <div class="recovery-claim-information-item-body">
                        <ul class="list-group list-group-flush ">
                            <li class="list-group-item">
                                <div>Vehicle Value</div>
                                <div>{{accidentInformation?.VehicleValue}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Repair Cost</div>
                                <div>{{accidentInformation?.RepairCost}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Replacement Car</div>
                                <div>{{accidentInformation?.NoOfDays}}&nbsp;Days / {{accidentInformation?.PerDayCost}}&nbsp;per Day</div>
                            </li>

                            <li class="list-group-item">
                                <div>Total Value</div>
                                <div>{{accidentInformation?.TotalValue}}</div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="vision-card">
        <div class="vision-card-body">
            <div class="view-claim-information">
                <div class="view-claim-information-item document-info">
                    <div class="recovery-claim-information-item-title">
                        <span>Status Update</span>
                        <span>
                          <telegram-icon></telegram-icon>
                        </span>
                    </div>
                    <div class="recovery-claim-information-item-body">
                        <form [formGroup]="claimStatusForm">
                            <div class="d-md-flex flex-md-row mb-2">
                                <div class="px-2 flex-fill">
                                    <div class="row">
                                        <ng-container *ngIf="(commonInformation?.Status == 'CREQ' && recoveryType == 'Receivable') || (commonInformation?.Status == 'ATP' && recoveryType == 'Receivable') || (commonInformation?.Status == 'DNT' && recoveryType == 'Payable') || (recoveryType == 'Payable')">
                                            <div class="col-md-3 col-lg-3">
                                                <div class="vision-form-control-box">
                                                    <label class="vision-form-label">Status</label>
                                                    <select class="vision-form-control" formControlName="claimStatus">
                                                        <option value="">Select</option>
                                                        <ng-container *ngFor="let item of claimStatusList">
                                                          <option value="{{item.StatusCode}}"
                                                            *ngIf="
                                                            ( (item?.StatusCode == 'PED' && commonInformation?.Status != 'ATP') ||
                                                             (item?.StatusCode=='CRES' && commonInformation?.Status != 'ATP') ||
                                                            item?.StatusCode == 'DNT' ||
                                                            (item?.StatusCode == 'CNT' && commonInformation?.Status != 'ATP')) ||
                                                             (recoveryType == 'Payable' && commonInformation?.Status != 'DNT' )">
                                                            {{item.StatusDesc}}</option>
                                                        </ng-container>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-lg-3">
                                                <div class="vision-form-control-box">
                                                    <label class="vision-form-label">Remarks</label>
                                                    <textarea rows="2" class="vision-form-control" formControlName="claimStatusRemarks">
                                              </textarea>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <div class="col-md-3 col-lg-3">
                                            <div class="vision-form-control-box">
                                                <label class="vision-form-label label-red">Accepted Amount</label>
                                                <input type="number" class="vision-form-control" formControlName="acceAmount">
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-lg-3">
                                            <div class="vision-form-control-box">
                                                <label class="vision-form-label label-green">Requested Amount</label>
                                                <input type="number" class="vision-form-control" formControlName="reqAmount">
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="px-2 flex-fill">



                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="view-claim-information-item document-info">
                    <div class="recovery-claim-information-item-title">
                        <span>Document Information</span>
                        <span>
                        <telegram-icon></telegram-icon>
                      </span>
                    </div>
                    <div class="view-claim-information-item-body">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 offset-8">
                                <!-- <ng-container *ngIf="(commonInformation?.Status == 'CREQ' && recoveryType == 'Receivable') || (commonInformation?.Status == 'ATP' && recoveryType == 'Receivable') || (recoveryType == 'Payable')"> -->
                                    <div class="imag-card my-3" (click)="doc.click()">
                                        <input style="display: none;" (change)="onUploadDocuments($event,null,'direct')" type="file" #doc>
                                        <div>
                                            <div class="center mb-2">
                                                <b class="text-dark">
                                               Add Documents
                                          </b>
                                            </div>
                                        </div>
                                    </div>
                                <!-- </ng-container> -->
                            </div>
                        </div>
                        <div class="view-claim-information-item document-info ownerDoc" *ngIf="ownerDocList.length!=0 || uploadDocList.length !=0">
                            <div class="view-claim-information-item-title">
                                <span>Documents Submitted</span>
                                <div class="flag-green">

                                </div>
                            </div>
                            <div class="view-claim-information-item-body">
                                <ng-container *ngIf="ownerDocList.length!=0 || uploadDocList.length !=0">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">S.No</th>
                                                <th scope="col">FileName</th>
                                                <th scope="col">Doument Type</th>
                                                <th scope="col">View</th>
                                                <th scope="col">Delete</th>
                                                <th scope="col">Download</th>
                                                <th scope="col">AI Details<br>
                                                    <small>*File Size must be Above 400kb</small>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let document of ownerDocList;let i=index">
                                                <th scope="row">{{i+1}}</th>
                                                <td>{{document.FileName}}</td>
                                                <td>{{document.DocDesc}}</td>
                                                <td>
                                                    <a mat-raised-button class="mx-1" data-toggle="tooltip" data-placement="top" title="View" (click)="onViewUploadedDocument(i,'owner')"><i class="fa fa-eye"></i></a>
                                                </td>
                                                <td>
                                                    <a mat-raised-button class="mx-1" data-toggle="tooltip" data-placement="top" title="Delete" (click)="onDeleteUploadedDoc(i)"><i class="fa fa-trash"></i></a>
                                                </td>
                                                <td><a mat-raised-button class="mx-1" data-toggle="tooltip" data-placement="top" title="Download" (click)="onGetOriginalImage(i,'owner')"><i class="fa fa-download"></i></a></td>
                                                <td>
                                                    <ng-container *ngIf="document.DocDesc=='Accident Images'">
                                                        <button class="btn btn-primary" *ngIf="document.Assessmentid==null" (click)="generateApiDetails(i,'owner')">Get AI</button>
                                                        <button class="btn btn-primary" *ngIf="document.Assessmentid!=null" (click)="viewApiDetails(i,'owner')">View AI</button>
                                                    </ng-container>
                                                    <ng-container *ngIf="document.DocDesc!='Accident Images'">
                                                        <p>N/A</p>
                                                    </ng-container>
                                                </td>
                                            </tr>
                                            <tr *ngFor="let document of uploadDocList;let i=index">
                                                <th scope="row">{{i+1}}</th>
                                                <td>{{document.filename}}</td>
                                                <td><select class="vision-form-control" [(ngModel)]="document.DocTypeId">
                                                    <option value="">Select</option>
                                                    <option *ngFor="let item of docTypeList" [value]="item.Code">{{item.CodeDescription}}</option>
                                                  </select></td>
                                                <td>
                                                    <a mat-raised-button class="mx-1" data-toggle="tooltip" data-placement="top" title="View" (click)="onViewDocument(i)"><i class="fa fa-eye"></i></a>
                                                </td>
                                                <td>
                                                    <a mat-raised-button class="mx-1" data-toggle="tooltip" data-placement="top" title="Download" (click)="onDeleteDocument(i)"><i class="fa fa-trash"></i></a>
                                                </td>
                                                <td> N/A </td>
                                                <td> N/A </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="text-center mb-2" *ngIf="uploadDocList.length!=0">
                                        <button type="button" class="report-btn mx-1" (click)="saveDocuments()"><img
                                    src="./assets/images/uploadIcon.png" class="report-icon" /> <span
                                    class="report-text">Upload</span>
                                  </button>
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                        <div class="view-claim-information-item document-info recoveryDoc mt-2">
                            <div class="view-claim-information-item-title">
                                <span>Documents Received</span>
                                <div class="flag-red">

                                </div>
                            </div>
                            <div class="view-claim-information-item-body">
                                <ng-container *ngIf="recoveryDocList.length==0">
                                    <div class="text-center">
                                        <p>No Document Available</p>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="recoveryDocList.length!=0">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">S.No</th>
                                                <th scope="col">FileName</th>
                                                <th scope="col">Doument Type</th>
                                                <th scope="col">View</th>
                                                <!-- <th scope="col" >Delete</th> -->
                                                <th scope="col">Download</th>
                                                <th scope="col">AI Details<br>
                                                    <small>*File Size must be Above 400kb</small></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let document of recoveryDocList;let i=index">
                                                <td scope="row">{{i+1}}</td>
                                                <td>{{document.FileName}}</td>
                                                <td>{{document.DocDesc}}</td>
                                                <td>
                                                    <a mat-raised-button class="mx-1" data-toggle="tooltip" data-placement="top" title="View" (click)="onViewUploadedDocument(i,'receiver')"><i class="fa fa-eye"></i></a>
                                                </td>
                                                <!-- <td *ngIf="claimType == 'Receivable'">
                                                        <a mat-raised-button class="mx-1" data-toggle="tooltip" data-placement="top" title="Download" (click)="onDeleteUploadedDoc(i)"><i class="fa fa-trash"></i></a>
                                                    </td> -->
                                                <td><a mat-raised-button class="mx-1" data-toggle="tooltip" data-placement="top" title="Download" (click)="onGetOriginalImage(i,'receiver')"><i class="fa fa-download"></i></a></td>
                                                <td>
                                                    <ng-container *ngIf="document.DocDesc=='Accident Images'">
                                                        <button class="btn btn-primary" *ngIf="document.Assessmentid==null" (click)="generateApiDetails(i,'receiver')">Get AI</button>
                                                        <button class="btn btn-primary" *ngIf="document.Assessmentid!=null" (click)="viewApiDetails(i,'receiver')">View AI</button>
                                                    </ng-container>
                                                    <ng-container *ngIf="document.DocDesc!='Accident Images'">
                                                        <p>N/A</p>
                                                    </ng-container>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ng-container>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="recovery-claim-information mt-3">

                <div class="recovery-claim-information-item">
                    <div class="recovery-claim-information-item-title">
                        {{policyInformation?.InsuranceCompanyName}}
                        <span>
                  <telegram-icon></telegram-icon>
                </span>
                    </div>
                    <div class="recovery-claim-information-item-body">
                        <div class="vision-grid-item">
                            <div class="vision-grid-item-body">
                                <div class="row" *ngIf="ownerTrackList.length!=0">
                                    <div class="col-md-10 col-lg-10 offset-1">
                                        <p-timeline [value]="ownerTrackList">
                                            <ng-template pTemplate="content" let-event>
                                                <small class="p-text-secondary">&#123;&#123;event.EntryDate&#125;&#125;</small>
                                            </ng-template>
                                            <ng-template pTemplate="opposite" let-event>
                                                &#123;&#123;event.StatusDesc&#125;&#125;<br>
                                                <small class="p-text-secondary">&#123;&#123;event.Remarks&#125;&#125;</small>
                                            </ng-template>
                                        </p-timeline>
                                    </div>
                                </div>
                                <div class="text-center" *ngIf="ownerTrackList.length==0">
                                    <span>No Data Available</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recovery-claim-information-item revocery-claim-information-status-item">
                    <div class="recovery-claim-information-item-title">
                        {{recoveryInformation?.InsuranceCompanyName}}
                        <span>
                        <telegram-icon></telegram-icon>
                      </span>
                    </div>
                    <div class="recovery-claim-information-item-body ">
                        <div class="vision-grid-item">
                            <div class="vision-grid-item-body">
                                <!-- <ul class="list-group list-group-flush status-list">
                                  <li class="list-group-item">
                                      <div class="row fw-bold">
                                          <div class="col-4">Description</div>
                                          <div class="col-4">Date & Time</div>
                                          <div class="col-4">Remarks</div>
                                      </div>
                                      <ng-container *ngFor="let item of recoveryTrackList">
                                          <div class="row">
                                              <div class="col-4">{{item?.StatusDesc}}</div>
                                              <div class="col-4">{{item?.EntryDate}}</div>
                                              <div class="col-4">{{item?.Remarks}}</div>
                                          </div>
                                      </ng-container>
                                  </li>
                              </ul> -->
                                <div class="row" *ngIf="recoveryTrackList.length!=0">
                                    <div class="col-md-10 col-lg-10 offset-1">
                                        <p-timeline [value]="recoveryTrackList">
                                            <ng-template pTemplate="content" let-event>
                                                <small class="p-text-secondary">&#123;&#123;event.EntryDate&#125;&#125;</small>
                                            </ng-template>
                                            <ng-template pTemplate="opposite" let-event>
                                                &#123;&#123;event.StatusDesc&#125;&#125;<br>
                                                <small class="p-text-secondary">&#123;&#123;event.Remarks&#125;&#125;</small>
                                            </ng-template>
                                        </p-timeline>
                                    </div>
                                </div>
                                <div class="text-center" *ngIf="recoveryTrackList.length==0">
                                    <span>No Data Available</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <ng-container *ngIf="(commonInformation?.Status == 'CREQ' && recoveryType == 'Receivable') || (commonInformation?.Status == 'ATP' && recoveryType == 'Receivable') || (recoveryType == 'Payable')">
        <div class="text-center my-4">
            <button class="vision-btn blue-bg-color" (click)="onFormSubmit()">Submit</button>
        </div>
    </ng-container>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Image</h5>
                <button type="button" class="btn-close" (click)="hide()"></button>
            </div>
            <div class="modal-body">
                <h3 class="text-center">{{viewFileName}}</h3>
                <img [src]="veiwSelectedDocUrl" width="100%">
            </div>
        </div>
    </div>
</ng-template>
<ng-template #content1 let-c="close" let-d="dismiss">
    <div class="card-header">
        <h5>AI Details</h5>
    </div>
    <div *ngFor="let document of documentAIDetails" class="p-1">
        <div class="row">
            <div class="text-center">
                <h2>{{document.Filename}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img [src]="document.RawImage" class="img-fluid">
                <div class="d-flex justify-content-center">
                    <!-- <a mat-raised-button class="mx-1" (click)="onViewImage(document,document.RawImage)"><i class="far fa-eye mx-1"></i></a> -->
                    <a mat-raised-button class="mx-1" (click)="onDownloadImage(document,document.RawImage)"><i
                class="fas fa-download mx-1"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <img [src]="document.PartsImage" class="img-fluid">
                <div class="d-flex justify-content-center">
                    <!-- <a mat-raised-button class="mx-1" (click)="onViewImage(document,document.PartsImage)"><i class="far fa-eye mx-1"></i></a> -->
                    <a mat-raised-button class="mx-1" (click)="onDownloadImage(document,document.PartsImage)"><i
                class="fas fa-download mx-1"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <img [src]="document.DamageImage" class="img-fluid">
                <div class="d-flex justify-content-center">
                    <!-- <a mat-raised-button class="mx-1" (click)="onViewImage(document,document.DamageImage)"><i class="far fa-eye mx-1"></i></a> -->
                    <a mat-raised-button class="mx-1" (click)="onDownloadImage(document,document.DamageImage)"><i
                class="fas fa-download mx-1"></i></a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-10 offset-1" *ngIf="document.Report.length!=0">
                <table border="1" class="table table-hover table-striped responsive">
                    <thead class="table-info">
                        <tr>
                            <th style="padding:15px;" class="customRow"><b>Part</b></th>
                            <th style="padding:15px;" class="customRow"><b>Action</b></th>
                            <th style="padding:15px;" class="customRow"><b>Damage</b></th>
                            <th style="padding:15px;" class="customRow"><b>Region</b></th>
                            <th style="padding:15px;" class="customRow"><b>Damage Severity</b></th>
                            <th style="padding:15px;" class="customRow"><b>Internal Damage</b></th>
                            <th style="padding:15px;" class="customRow"><b>Percentage</b></th>
                            <th style="padding:15px;" class="customRow"><b>Cost Estimation</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let entry of  document.Report; let i = index">
                            <td style="padding:5px;">{{entry.Part}}</td>
                            <td style="padding:5px;">{{entry.Action}} </td>
                            <td style="padding:5px;">{{entry.Damage}} </td>
                            <td style="padding:5px;">{{entry.Region}} </td>
                            <td style="padding:5px;">{{entry.Damageseverity}}</td>
                            <td style="padding:5px;">{{entry.InternalDamage}} </td>
                            <td style="padding:5px;">{{entry.Percentage}} </td>
                            <td style="padding:5px;">{{entry.Costestimation}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-9" *ngIf="document.Report.length==0">
                <div class="text-center">
                    <h4>No Damages Found</h4>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="text-end p-0">
        <button class="btn btn-danger mb-1" (click)="hide()">Close</button>
    </div>
</ng-template>
