<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->
<div class="page-content">

<mat-stepper [linear]="isLinear" #stepper>
  <mat-step>
    <div>
      <ng-template matStepLabel>Insured Information</ng-template>
          <app-vehicle-form (moveNext)="moveNext($event)"></app-vehicle-form>
      
    </div>
  </mat-step>
  <ng-container *ngIf="!isPolicyForm">
  <mat-step label="Accident information">
    <ngx-mat-step-content-lazy-wrapper>
      <ng-template ngxMatStepContentLazy>
        <app-claim-form [VehicleChassisNumber]="VehicleChassisNumber" (moveNext)="moveNext2()"></app-claim-form>
      </ng-template>
    </ngx-mat-step-content-lazy-wrapper>
  </mat-step>
</ng-container>
  <mat-step>
    <ng-template matStepLabel>Confirmation</ng-template>
    <ngx-mat-step-content-lazy-wrapper>
      <ng-template ngxMatStepContentLazy>
        <app-confirmation></app-confirmation>
      </ng-template>
    </ngx-mat-step-content-lazy-wrapper>
  </mat-step>
</mat-stepper>
</div>
