.vision-grid{
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),
  0 2px 2px rgba(0,0,0,0.15),
  0 4px 4px rgba(0,0,0,0.15),
  0 8px 8px rgba(0,0,0,0.15);
  overflow: hidden;
}


.vision-grid-column-2{
  grid-template-columns: 25% 75%;
}

@media (max-width: 800px) {
  .vision-grid-column-2{
    grid-template-columns: 1fr;
  }
}
.vision-grid-item{
  background-color: transparent !important;
  box-shadow: none;
}
.vision-grid-item:nth-child(2) {
  overflow-x: scroll;
  margin: 0 1.5rem;
}
.arrow-icon{
  display: none;
}

.status-radio-grid .radio-toolbar label {
  display: block;
  margin: 1px 0;
  /* font-size: 13px; */
  border: 0;
  padding: .8rem;
}
.status-radio-grid .radio-toolbar label .company-name{
  display: flex;
  justify-content: space-between;


}
.status-radio-grid .radio-toolbar input[type="radio"]:checked+label {
  background-color: var(--theme2);
  color: white;
  border-radius: .5rem;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),
              0 2px 2px rgba(0,0,0,0.15),
              0 4px 4px rgba(0,0,0,0.15),
              0 8px 8px rgba(0,0,0,0.15);
}

.status-radio-grid .radio-toolbar input[type="radio"]:checked+label .arrow-icon {
  display: inline-block;
}
.list-group-item{
  border: 0;
}


.table-grid .list-group-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
