<router-outlet></router-outlet>
<!--
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white" class="mt-5">
        Loading...
    </p>
</ngx-spinner> -->

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise"
    template="<img src='../assets/images/loading.gif' width='100px' style='border-radius:1rem;box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;'>" [fullScreen]="true">

</ngx-spinner>
